@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab|Poiret+One|Playfair+Display|Megrim);
// @import "../../node_modules/bootstrap/less/bootstrap";


html {
  height: 100%;
}

body {
  margin: 0;
}



.mid {
  width: 100%;
  height: 300px;
  display: inline;

  h2 {
   font-family: 'Playfair Display',sans-serif;
   font-size: 55px;
   text-align: center;
   color: #0F7096;

 }
}
.middle {
  display: inline-flex;
}



header {
    display: inline-block;
    width: 100%;
    height: 850px;
    background-image: url("images/headerpic2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


header h1 {
  font-family: 'Megrim',sans-serif;
  font-size: 150px;
  text-align: center;
  color: white;
  font-weight: lighter;
  margin-top: 275px;
}



.menu {
  width: 60px;
  height: 60px;
  border: 2px solid #611380;
  border-radius: 10%;
  padding: 5px;
  float: right;
  margin-top: 8px;
  margin-right: 8px;
  background-color: rgba(0, 0, 0, 0);

}

.clock {
    display: inline-block;
    margin-left: 250px;
    margin-top: 40px;
  img {
    width: 100px;
    height: 100px;

    margin-left: 90px;
 }
  p {
    font-size: 26px;
    font-family: 'Playfair Display',sans-serif;
    color: #611380;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 100px;
 }

}

.check {
    display: inline-block;
    margin-left: 275px;
    margin-right: 20px;
    margin-top: 20px;

  img {
    width: 140px;
    height: 140px;
 }

  p {
   font-size: 26px;
   font-family: 'Playfair Display',sans-serif;
   color: #611380;
   font-weight: bold;

}
}

.money {
    display: inline-block;
    margin-left: 60px;
    margin-top: 30px;

  img {
    width: 140px;
    height: 140px;
    margin-left: 60px;

  }

  p {
    font-size: 26px;
    font-family: 'Playfair Display',sans-serif;
    color: #611380;
    font-weight: bold;
    margin-left: 80px;
    padding-bottom: 100px;
    margin-top: 0;
   }
}

.follow {
  background-image: url('images/burries.jpg');
  width: 100%;
  height: 500px;

  img {
    width: 75px;
    height: 75px;
    margin-bottom: 100px;

  }

  p {
    color: white;
    font-size: 60px;
    font-family: 'Megrim',sans-serif;
    margin-bottom: 0;
  }

  .fb {
    width: 70px;
    height: 70px;
  }

  span {
    color: white;
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    padding: 10px;
    
}

 a {
   color: white;
   font-size: 20px;
   font-family: 'Raleway';
   padding: 10px;
   text-decoration: none;

 }

}



#modal {
  position: absolute;
  background-color: rgba(97, 19, 128, 1);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;


  button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
  }

  nav {
    margin-top: 150px;
    text-align: center;
 }

  ul {
    list-style: none;

  }

  li {
    padding-bottom: 20px;
    padding-left: 400px;
    padding-right: 400px;

  }

  a {
    color: white;
    font-size: 60px;
    font-family: 'Raleway',sans-serif;
    text-decoration: none;
    font-weight: lighter;
  }

  // a:hover {
  //   background-color: #0F7096;
  // }

  transition: visibility 0.25s ease-in, opacity 0.25s ease-in;

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 0;
  margin-top: 50px;
  margin-left: 1300px;
  border: 2px solid #0F7096;
  border-radius: 50%;
}
